* {
    border: 2px solid red;
}


/*CUSTOM FONT*/

@font-face {
    font-family: cstmFont1;
    src: url("./fonts/Mont-HeavyDEMO.otf");
}


/*HTML BODY SETTINGS*/
body, html { 
    border: 0;
    margin: 0;
    font-family: cstmFont1;
}

.container { 
    height: 100vh;
    display: grid; 
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
}






/*HEADER CONTAINERS + STYLES*/
.header-container {
    grid-column: 2 / span 2;

}








/*SIDEBAR CONTAINERS + STYLES*/

.sidebar-container {
    background-color: rgb(0, 191, 255);
    grid-column: 1;
    grid-row: 1 / span 2;
    display:grid;
    justify-items: start;
}

.side-header {
    color: white;
}

.side-tabs {
}

.side-tabs2 {

}

#sideBTNS {

}







/*MAINCONTENT CONTAINERS + STYLES*/

.maincontent-container {
    background-color: rgb(212, 212, 212);
    grid-column: 2;
    grid-row: 2;
}

